body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

*{
    list-style-type: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.poster img{
    width: 100%;
   margin: 0;
   padding: 0;
}

.rating-header{
    margin-top: 0;
    background: black;
    padding: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0;
    
}

.rating-inside h1{
    color: white;
    text-transform: uppercase;
    text-align: center;
    
}

.rating-inside p{
    color: white;
    margin-left: 45px;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    margin-right: 40px;
}

.button {
    border-radius: 4px;
    background-color: rgb(153, 139, 58);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
     padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 600px;
    margin-top: 20px;
    
 }


  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

.one img{
    width: 50%;
    padding: 0;
    margin: 0;
}

.one h1{
    float: right;
    margin-right: 125px;
    margin-top: 125px;
    text-transform: uppercase;
}

.two img{
    float: right;
    width: 50%;
    margin: 0;
}

.two h1{
    float: left;
    margin-right: 125px;
    margin-top: 125px;
    text-transform: uppercase;
    margin-left: 35px;
}

.three img{
    width: 50%;
    padding: 0;
    margin: 0;
}

.three h1{
    float: right;
    margin-right: 125px;
    margin-top: 125px;
    text-transform: uppercase;
}

.four img{
    float: right;
    width: 50%;
    margin: 0;
}

.four h1{
    float: left;
    margin-right: 125px;
    margin-top: 125px;
    text-transform: uppercase;
    margin-left: 35px;
}

.five img{
    width: 50%;
    padding: 0;
    margin: 0;
}

.five h1{
    float: right;
    margin-right: 125px;
    margin-top: 125px;
    text-transform: uppercase;
}

.six img{
    float: right;
    width: 50%;
    margin: 0;
}

.six h1{
    float: left;
    margin-right: 125px;
    margin-top: 125px;
    text-transform: uppercase;
    margin-left: 35px;
}